services:
  postgres:
    image: postgres:16
    environment: 
      POSTGRES_USER: granth_user
      POSTGRES_PASSWORD: granth_password
      POSTGRES_DB: granth_db
    ports:
      - "5433:5432"
  
  redis:
    image: redis:7
    ports:
      - "6380:6379"
  
  app:
    build: .
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    